In [2]:
import pandas as pd

In [80]:
df = pd.read_csv('/Users/khin/.cache/kagglehub/datasets/atulanandjha/temperature-readings-iot-devices/versions/1/IOT-temp.csv')

In [81]:
# Поле noted_date переведите в формат ‘yyyy-MM-dd’ с типом данных date

df['noted_date'] = pd.to_datetime(df['noted_date'], dayfirst=1).dt.date
df['noted_date'] = pd.to_datetime(df['noted_date'])

In [83]:
# Вычислите 5 самых жарких и самых холодных дней за весну

df[df.noted_date.dt.month.isin([3,4,5])]

# ... нет весенних месяцев

Empty DataFrame
Columns: [id, room_id/id, noted_date, temp, out/in]
Index: []

In [78]:
# Отфильтруйте out/in = in

df[df['out/in'] == 'In']

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In
5,__export__.temp_log_196125_b0fa0b41,Room Admin,08-12-2018 09:29,31,In
6,__export__.temp_log_196121_01544d45,Room Admin,08-12-2018 09:28,29,In
...,...,...,...,...,...
97601,__export__.temp_log_91076_7fbd08ca,Room Admin,28-07-2018 07:07,31,In
97602,__export__.temp_log_147733_62c03f31,Room Admin,28-07-2018 07:07,31,In
97603,__export__.temp_log_100386_84093a68,Room Admin,28-07-2018 07:06,31,In
97604,__export__.temp_log_123297_4d8e690b,Room Admin,28-07-2018 07:06,31,In
97605,__export__.temp_log_133741_32958703,Room Admin,28-07-2018 07:06,31,In

In [84]:
# Очистите температуру по 5-му и 95-му процентилю

# Вычисляем 5-й и 95-й процентили
lower_bound = df['temp'].quantile(0.05)
upper_bound = df['temp'].quantile(0.95)

# Фильтруем данные
df_filtered = df[(df['temp'] >= lower_bound) & (df['temp'] <= upper_bound)]

In [85]:
df_filtered

                                        id  room_id/id noted_date  temp out/in
0      __export__.temp_log_196134_bd201015  Room Admin 2018-12-08    29     In
1      __export__.temp_log_196131_7bca51bc  Room Admin 2018-12-08    29     In
2      __export__.temp_log_196127_522915e3  Room Admin 2018-12-08    41    Out
3      __export__.temp_log_196128_be0919cf  Room Admin 2018-12-08    41    Out
4      __export__.temp_log_196126_d30b72fb  Room Admin 2018-12-08    31     In
...                                    ...         ...        ...   ...    ...
97601   __export__.temp_log_91076_7fbd08ca  Room Admin 2018-07-28    31     In
97602  __export__.temp_log_147733_62c03f31  Room Admin 2018-07-28    31     In
97603  __export__.temp_log_100386_84093a68  Room Admin 2018-07-28    31     In
97604  __export__.temp_log_123297_4d8e690b  Room Admin 2018-07-28    31     In
97605  __export__.temp_log_133741_32958703  Room Admin 2018-07-28    31     In

[92917 rows x 5 columns]